@tailwind base;
@tailwind components;
@tailwind utilities;

.Headline_1_ExtraBold{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 60px;
    letter-spacing: -0.015em;
}

.Headline_2_ExtraBold{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 56px;
    letter-spacing: -0.015em;
}

.Headline_3_ExtraBold{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.015em;
}

.Headline_4_Bold{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.015em;
}

.Headline_5_Bold{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.015em;
}

.Headline_6_Bold{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.015em;
}

.Headline_7_SemiBold{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.Headline_7_Medium{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.Paragraph_1_Regular{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.015em;
}

.Paragraph_2_Regular {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.015em;
}

.Paragraph_2_Bold{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.015em;
}

.Paragraph_3_Regular{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
}

.Paragraph_3_SemiBold{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
}

.Headline_8_SemiBold{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.015em;
}